beautifulsoup4==4.6.0    
certifi==2022.12.7
chardet==3.0.4    
et-xmlfile==1.0.1    
idna==2.7      
jdcal==1.4      
numpy==1.14.5   
openpyxl==2.5.4    
pandas==0.23.3   
pip==10.0.1   
python-dateutil==2.7.3    
pytz==2018.5   
requests==2.19.1   
setuptools==40.0.0   
six==1.11.0   
urllib3==1.23     
wheel==0.31.1   
xlrd==1.1.0